---
layout: page
title: Why?
description: "To provide accesible non-technical blockchain learning material." # Optional
introduction: "We have spent a lot of time reading about bitcoin, ethereum and other blockchain technologies. This site exists for you. To help you make informed decisions about the future of currency." # Optional
permalink: /about/
---
<!-- About page introduction -->
<p class="post-content collection-content">{{ page.introduction }}</p>
<!-- End about page introduction -->
<p><br><br><br><br><br></p>
{% if site.email %}
<!-- Contact form -->
<section id="contact">
    <h2>{{ site.title | prepend: 'Contact ' }}</h2>
    <form action="//formspree.io/{{ site.email }}"
    method="POST" class="formspree">
      <input type="text" placeholder="your name" class="name" rows="1" required />

      <input type="email" name="email" placeholder="your email" maxlength="36" pattern="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+" class="email" required />

      <textarea name="message" placeholder="your message (250 char min)" rows="5" class="message" minlength=250></textarea>
      <input type="hidden" name="_subject" value="Source: {{ site.baseurl | prepend: site.url }} contact form submission" />
      <button type="submit" class="send">ok, send it</button>

      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="/" />
    </form>
  </section><!-- End form -->
{% endif %}

{% include formjs.html %}
