---
layout: page
title: Why?
description: "To provide accesible non-technical blockchain learning material." # Optional
introduction: "We spent a long time reading about bitcoin, ethereum and other blockchain technologies. This tech is hard to understand, but make no mistake, it is the future. This site exists because we believe that a simple, clear understanding of blockchain is a right."
permalink: /about/
---
<!-- About page introduction -->
<p class="post-content collection-content">{{ page.introduction }}</p>
<!-- End about page introduction -->

{% if site.email %}
<!-- Contact form -->
<section id="contact">
    <h2>{{ site.title | prepend: 'Contact ' }}</h2>
    <form action="//formspree.io/{{ site.email }}"
    method="POST" class="formspree">
      <input type="text" placeholder="your name" class="name" rows="1" required />

      <input type="email" name="email" placeholder="your email" maxlength="36" pattern="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+" class="email" required />

      <textarea name="message" placeholder="your message" rows="3" class="message"></textarea>
      <input type="hidden" name="_subject" value="Source: {{ site.baseurl | prepend: site.url }} contact form submission" />
      <button type="submit" class="send">ok, send it</button>

      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="/" />
    </form>
  </section><!-- End form -->
{% endif %}

{% include formjs.html %}
