---
layout: default
---
<article class="page">
  {% unless page.url != '/' %}<header class="page-header">     
    <div class="mask"></div>
    <img src="{{ page.nickNameName | downcase | append: '.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="page-hero" />
    <img src="{{ page.nickNameName | downcase | append: '-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="mobile-hero" />
    <div class="text-box">
      <h1 class="page-title">{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
  </header>{% endunless %}
  <div class="page-content">
    {% include header.html %}
      {% if page.url != '/' %}
    <div class="page-heading">
    <h1 class="page-heading">{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
    </div>
  {% endif %}
    {{ content }}
  </div>

</article>
